.product-card {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    height: 300px;
    width: 200px;
    position: relative;
  }
  
  .wishlist-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .wishlist-button.active {
    color: #ff00ff; /* Toggled Heart color */
  }
  
  .product-title {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .price {
    display: flex;
    margin-bottom: 10px;
  
    .original-price {
      text-decoration: line-through;
      margin-right: 10px;
    }
  
    .discounted-price {
      color: #ff0000; /* Discounted price color */
    }
  }
  
  .ratings {
    display: flex;
    align-items: center;
    color: #ffa500; /* Star color */
    font-size: 14px;
  }
  
  .half-star-icon {
    color: #ffa500; /* Half Star color */
  }
  