.product-card {
  display: flex;
  border-radius: 5px;
  margin: 10px;
  height: 350px;
  width: 200px;
  position: relative;
}

.product-card .wishlist-button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  cursor: pointer;
  transition: color 0.3s ease;
}

.product-card .product-info {
  width: 100%;
  padding: 10px;
  box-sizing: border-box; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-card .product-info .product-image {
  height: 100%; 
  width: 100%; 
  overflow: hidden;
  position: relative;
}

.product-card .product-info .product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-card .product-info .product-image .view-product-label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
  padding: 10px;
  font-size: 16px;
  display: none;
}

.product-card .product-info .product-image:hover .view-product-label {
  display: block;
}

.product-card .product-info .product-title {
  font-size: 18px;
  margin-bottom: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 2em;
}

.product-card .product-info .price {
  display: flex;
  margin-bottom: 10px;
}

.product-card .product-info .price .original-price {
  text-decoration: line-through;
  margin-right: 10px;
  color: #000;
}

.product-card .product-info .price .discounted-price {
  color: #ff0000;
}

.product-card .product-info .ratings {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #ffa500;
}

.half-star-icon {
  color: #ffa500;
}
