.product-card {
  display: flex;
  border-radius: 5px;
  margin: 10px;
  height: 350px;
  width: 200px;
  position: relative;
}

.product-card .wishlist-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.product-card .product-info {
  width: 100%;
  padding: 10px;
  box-sizing: border-box; /* Include padding in the width */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-card .product-info .product-image {
  height: calc(100% - 40px);
  overflow: hidden;
}

.product-card .product-info img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-title {
  font-size: 18px;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.price {
  display: flex;
  margin-bottom: 10px;

  .original-price {
    text-decoration: line-through;
    margin-right: 10px;
    color: #000; /* Set color for original price */
  }

  .discounted-price {
    color: #ff0000;
  }
}

.ratings {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #ffa500;
}
