.search-bar {
  position: relative;
  display: flex;
  align-items: center;
  width: 60%;
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 5px;  
    
  input {
    flex: 1;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 16px;
  }

  svg {
    margin-right: 10px;
    color: #888;
  }
}

.suggestions-container {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.product-trend {
  
}
